*,
*:before,
*:after {
    margin:0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-overflow-scrolling: touch;
    color: #5b5b5b;
    height: 100%;
    overflow-x: hidden !important;
    overflow-y: scroll; /* has to be scroll, not auto */
}

/********** Links & type *********+*/
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

/********** Header *********+*/
.banner {
    background: url('../img/banner.jpg') center center no-repeat;
    background-size: cover;
    height: 624px;
}
.social {
    background: url('../img/bgsocial.png') center right no-repeat;
    background-size: contain;
    width: 100%;
    height: 64px;
}